.react-calendar {
  position: fixed;
  z-index: 999;
}

.react-datetime-picker__wrapper {
  border: none;
  border-bottom: 1px solid #364152;
}

.customText {
  color: #2196f3;
  font-size: 11px;
}

.registeredAt {
  padding-top: 0px !important;
}